/conflict-resolution/jeka/.work/
/java-classic/jeka/.work/
/java-full-conventional/jeka/.work
/java-task-based/jeka/.work
/migrate-from-maven/jeka/.work
/springboot-simple/jeka/.work
/springboot-multi-modules/jeka/.work
/springboot-multi-modules/springboot-multi-modules.build-commons/jeka/.work
/springboot-multi-modules/springboot-multi-modules.core/jeka/.work
/springboot-multi-modules/springboot-multi-modules.springbootapp/jeka/.work
/springboot-multi-modules/springboot-multi-modules.swingapp/jeka/.work
/springboot-multi-modules/springboot-multi-modules.utils/jeka/.work